::placeholder {
  color: grey !important;
}

.form-control-rounded {
  border-radius: 1rem;
}

.navbar,
.navbar * {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.form-control {
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.active {
  font-weight: bold !important;
}

.btn-outline-dark {
  border-radius: 100px !important;
}

.btn {
  font-size: 0.9rem !important;
}
